
<div id="welcome-modal" class="modal-overlay" hidden>
    <div class="modal-window">
        <h2>Welcome</h2>

        <p>This is a test page. It maps the events listed in the ECPD blotters published on nixle from January 2019 to the latest blotter released. There is a gap from mid Feb 2019 to January 2020 where not blotters could be located.</p>
        <p>The following is a summary of criminal activity in El Cerrito. It does not include all crimes. It also does not include non-criminal events such as missing persons, traffic collisions, non-criminal deaths, non-criminal disputes, nor many other police activities that do not result in arrest.</p>
        <p></p>
        <p>--------------</p>
        <p>Clicking on the incident types to the left will show or hide that incident type on the map</p>
        <p>There is also the option to display each incident or a heatmap of incidents</p>
        <p>--------------</p>
        <p>You can play through the records by day, week, or month by using the controls under the map.</p>
        <p>you change the date range of incidents that are displayed with the slider on the bottom.</p>


        <label>
            <input type="checkbox" id="welcome-dont-show">
            Don't show this again (this doesn't work)
        </label>

        <br><br>

        <button id="welcome-close">
            Close (this does work)
        </button>
    </div>
</div>