<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% if page.include_scripts %}
      {% for include_script in page.include_scripts %}
        <script type='text/javascript' src='{{ include_script }}'></script>
      {% endfor %}
    {% endif %}
    {%- include footer.html -%}

  </body>

</html>
